<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetopdmsam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/renergy_icons_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/renergy_icons_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoPDMSAM">
        <activity
            android:name=".DetalhesCaso"
            android:exported="true" />
        <activity
            android:name=".NovoCaso"
            android:exported="true" />
        <activity
            android:name=".QRCodeReader"
            android:exported="true" />
        <activity
            android:name=".InspecaoADecorrer"
            android:exported="true" />
        <activity
            android:name=".PaginaInicial"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>